/* components/common/BackToHomeButton.css */

.home-button-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #225536;
    background-color: transparent;
    border: 2px solid #225536;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    background-color: #ffffff;

  }
  
  .home-button:hover {
    background-color: #225536;
    color: white;
  }
  