.recovery-container {
    background-image: url('public/background-book.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recovery-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); /* עמעום לבן עדין */
    z-index: 1;
  }
  
  .recovery-form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    z-index: 2;
  }
  
  .recovery-form h2 {
    color: #2d4739;
    margin-bottom: 20px;
  }
  
  .recovery-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d4739;
  }
  
  .recovery-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .submit-button {
    background-color: #2d4739;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #416353;
  }
  
  .message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
  }